<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>毎日のお買い物を週１回に。</h1>
      </div>
    </div>
  </div>
  <div class="top-button">
    <%= link_to '新規登録', signup_path ,class: "square_btn" %>
    <%= link_to 'ログイン', login_path, class: "square_btn" %>
  </div>
<% end %>

<p>テスト</p>