<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>毎日のお買い物を週１回に。</h1>
      </div>
    </div>
  </div>
  <div class="top-button">
    <a href="" class="square_btn">新規登録</a>
    <a href="" class="square_btn">ログイン</a>
  </div>
<% end %>

<p>テスト</p>