@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}
/*ロゴ*/
.floating {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 1;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  background: url("/images/cover-bg.png") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}
.cover .cover-inner .cover-contents h2 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 12ex; 
}

/*トップページ*/
.toppage{
  text-align: center;
}
.top-img img {
   width: 300px;
  height: 200px;
  object-fit: cover;
}

/*トップページログインボタン*/
.top-button{
  text-align: center;
  font-size: 3ex;
}
.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #808080;
    border: solid 2px #808080;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #808080;
    color: white;
}


/*画像から楽天ページへふわっと表示*/
.sample2 {
	width:			200px;
	height:			180px;
	overflow:		hidden;
	/*margin:			10px 8px 10px 16px;*/
	margin:auto;
	position:		relative;
}
.sample2 .caption {
	font-size:		130%;
	text-align: 		center;
	color:			#fff;
}
.sample2 .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.sample2:hover .mask {
	opacity:		1;	/* マスクを表示する */
	padding-top:		80px;	/* ホバーで下にずらす */
}
/*レシピ画像のサイズ調整*/
.sample2 img {
   width: 200px;
  height: 200px;
  object-fit: cover;
}

/*レシピ回り込み防止*/
.recipelist{
   clear: both;
  
}

/*お気に入りボタン*/
.btn-flat-border-enter {
  display: inline-block;
  padding: 0.3em 4em;
  text-decoration: none;
  color: #ffb6c1;
  border: solid 2px #ffb6c1;
  border-radius: 3px;
  transition: .4s;
}
.btn-flat-border-enter:hover {
  background: #ffb6c1;
  color: white;
}
.btn-flat-border-danger {
  display: inline-block;
  padding: 0.3em 4em;
  text-decoration: none;
  color: white;
  border: solid 2px #ffb6c1;
  border-radius: 3px;
  transition: .4s;
  background: #ffb6c1;
}
.btn-flat-border-danger:hover {
  background: white;
  color: #ffb6c1;
}

/*買い物リスト登録*/
.btn-flat-border-list-enter {
  display: inline-block;
  padding: 0.3em 4em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
.btn-flat-border-list-enter:hover {
  background: #67c5ff;
  color: white;
}
.btn-flat-border-list-danger {
  display: inline-block;
  padding: 0.3em 4em;
  text-decoration: none;
  color: white;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  background: #67c5ff;
}
.btn-flat-border-list-danger:hover {
  background: white;
  color: #67c5ff;
}

.button_wrapper{
  text-align:center;
}

/*マイページのデザイン/
/*user画像のサイズ調整*/
.userimg img {
   width: 200px;
  height: 230px;
  object-fit: cover;
}

